<div class="container p-5" style="background-color: #263238;">
    <h1>Certifications</h1>
    <mat-tab-group mat-align-tabs="end" >
       
            <mat-tab label="ISO 27001">
                <section>
                    <div class="row" class="pb-1">
                        <div class="col-sm-4">
                            <h2>ISO 27001 LEAD AUDITOR</h2>
            
                            <h3>
                                <span>Institut St Jean: </span>
                                <span>2022</span>
                            </h3>
            
                            <ul>
                                <li>Selfpay: A desktop app for self service kiosk, accepts cash and provide services like airtime
                                    payment, bill payment,
                                    mobile money etc etc...
                                </li>
                            </ul>
                            
                        </div>
                        <div class="col-sm-8" style="float:right; ">
                            <img src="../../assets/img/iso.jpg" width="600px" alt="" srcset="">
                        </div>
                    </div>
                </section>
            </mat-tab>
       

            <mat-tab label="ORACLE CLOUD 2021">
                <section>
                    <div class="row" class="pb-1">
                        <div class="col-sm-4">
                            <h2>ORACLE CLOUD INFRASTRUCTURE FOUNDATIONAL</h2>
            
                            <h3>
                                <span>Self studies: </span>
                                <span>2022</span>
                            </h3>
            
                            <ul>
                                <li>Selfpay: A desktop app for self service kiosk, accepts cash and provide services like airtime
                                    payment, bill payment,
                                    mobile money etc etc...
                                </li>
                            </ul>
            
                        </div>
                        <div class="col-sm-8" style="float:right; ">
                            <img src="../../assets/img/oci.jpg" width="600px" alt="" srcset="">
                        </div>
                    </div>
                </section>
            </mat-tab>


            <mat-tab label="WORD 2013">
                <section>
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>MICROSOFT WORD 2013</h2>
            
                            <h3>
                                <span>Institut St Jean: </span>
                                <span>2018</span>
                            </h3>
            
                            <ul>
                                <li>Selfpay: A desktop app for self service kiosk, accepts cash and provide services like airtime
                                    payment, bill payment,
                                    mobile money etc etc...
                                </li>
                            </ul>
            
                        </div>
                        <div class="col-sm-6" style="float:right; ">
                            <img src="" alt="" srcset="">
                        </div>
                    </div>
                </section>
            </mat-tab>
    </mat-tab-group>
</div>