<div class="container p-5" style="background-color: #263238;">
    <h1>Projects</h1>
    <mat-tab-group mat-align-tabs="end">
        <mat-tab label="Software Developement">
            <section>
                <div class="row">
                    <div class="col-sm-6">
                        <h2>SelfPay</h2>
        
                        <h3>
                            <span>Technologies: </span>
                            <span>Java, Java fx, Scene builder, SQLite</span>
                        </h3>
        
                        <ul>
                            <li>Selfpay: A desktop app for self service kiosk, accepts cash and provide services like airtime payment, bill payment,
                            mobile money etc etc...
                            </li>
                        </ul>
                        <div>
        
                            <button  mat-flat-button color="primary">
                                👨‍💻See more
                            </button>
        
                        </div>
                    </div>
                    <div class="col-sm-6" style="float:right; ">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/m4jN9xzT-uM" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    </div>
                </div>
            </section>
        </mat-tab>
      
        <mat-tab label="Wordpress Websites">
            <section>
                <div class="row">
            <div class="col-sm-6">
                <h2>Emmergence Immigration</h2>
            
                <h3>
                    <span>Technologies: </span>
                    <span>Wordpress, Elementor, Phlox, Contact form7</span>
                </h3>
            
                <ul>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque non atque ipsam quas officiis iure vitae
                        enim
                        veritatis quos!
                        Quod, exercitationem ex saepe incidunt consectetur totam repellat necessitatibus odit aliquid.</li>
                </ul>
                <div>
                    
                        <button  mat-flat-button color="primary">
                            <mat-icon class="dark">add</mat-icon>See more
                        </button>
                    
                </div>
            </div>
            <div class="col-sm-6" style="float:right; ">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/K4Y466twT5I" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            </div>
        </section>
        </mat-tab>

        <mat-tab label="Video Creation">
            <section>
                    <section>
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Emmergence Immigration</h2>
                    
                                <h3>
                                    <span>Technologies: </span>
                                    <span>Wordpress, Elementor, Phlox, Contact form7</span>
                                </h3>
                    
                                <ul>
                                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque non atque ipsam quas officiis iure
                                        vitae
                                        enim
                                        veritatis quos!
                                        Quod, exercitationem ex saepe incidunt consectetur totam repellat necessitatibus odit aliquid.</li>
                                </ul>
                                <div>
                    
                                    <button mat-flat-button color="primary">
                                        <mat-icon class="dark">add</mat-icon>See more
                                    </button>
                    
                                </div>
                            </div>
                            <div class="col-sm-6" style="float:right; ">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/AcBlwgO6eaU" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            </div>
                        </div>
                    </section>
        
            </section>
        </mat-tab>

        <mat-tab label="Whatsapp Bot">
            <section>
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Emmergence Immigration</h2>
                
                        <h3>
                            <span>Technologies: </span>
                            <span>Wordpress, Elementor, Phlox, Contact form7</span>
                        </h3>
                
                        <ul>
                            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque non atque ipsam quas officiis iure
                                vitae
                                enim
                                veritatis quos!
                                Quod, exercitationem ex saepe incidunt consectetur totam repellat necessitatibus odit aliquid.</li>
                        </ul>
                        <div>
                
                            <button mat-flat-button color="primary">
                                <mat-icon class="dark">add</mat-icon>See more
                            </button>
                
                        </div>
                    </div>
                    <div class="col-sm-6" style="float:right; ">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/aA7njpTiHQs" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    </div>
                </div>
        
            </section>
        </mat-tab>
        
        <mat-tab label="Design">
             <section>

             </section>
        </mat-tab>
      

    </mat-tab-group>
</div>

   