<!-- 
<div class="container">
    <div class="title">
        <span>Welcome to my Portfolio web site</span>

        
    </div>

    <div class="presentation">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Jotsa Mikael</span><br>
        <span>System Information Engineer</span>
    </div>

    <div class="profile">
        <div class="profile-bg"></div>
        <img src="../../assets/Sundar-Pichar-Profile-Square.png" alt="">
    </div>
</div> -->


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
               <div class="typewriter"><h1>Hi, I AM JOTSA MIKAEL</h1></div>
                           

                <!-- <h2>À partir d'une analyse précise de vos besoins, nous trouvons le professeur particulier parfait et
                    compatible avec votre
                    enfant.<i class="fa fa-book"></i></h2> -->

              <!--   <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started">Se lancer</a>
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="btn-watch-video"><i
                            class="fa fa-play"></i><span>Présentation</span></a>
                </div> -->
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="../../assets/images/girl_banner_clean.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->




 